body{
    display: flex;
    justify-content: center;
}
.gameBoard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}
.result{
    padding: 0;
}
button{
    margin-bottom: 10px;
}